/ Slider main container
.swiper-container
  / Additional required wrapper
  .swiper-wrapper
    / Slides
    .swiper-slide 
      = image_tag "welcome.jpg"
    .swiper-slide 
      = image_tag "welcome.jpg"
    .swiper-slide 
      = image_tag "welcome.jpg"
    \...
  / If we need pagination
  .swiper-pagination
  / If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next
  / If we need scrollbar
  .swiper-scrollbar




//ピックアップ(新規投稿された9個を表示)
#newpost-picup-content
  .newpost-picup-box
    .newpost-picup-title-box
      .newpost-picup-title-sub
        ピックアップカテゴリー
      .newpost-picup-title-main
        新規投稿
      .app-lists
        .app-list
          = link_to app_details_apps_path do
            .app-img
              = image_tag "welcome.jpg"
            .app-body
              .app-body-name
                test
              .app-body-details
                %ul
                  %li 
                    test2
                  %li
                    %i.fa.fa-star.icon
                    %before
                      0
        .app-list
          = link_to "#" do
            .app-img
              = image_tag "welcome.jpg"
            .app-body
              .app-body-name
                test
              .app-body-details
                %ul
                  %li 
                    test2
                  %li
                    %i.fa.fa-star.icon
                    %before
                      0
        .app-list
          = link_to "#" do
            .app-img
              = image_tag "welcome.jpg"
            .app-body
              .app-body-name
                test
              .app-body-details
                %ul
                  %li 
                    test2
                  %li
                    %i.fa.fa-star.icon
                    %before
                      0
        .app-list
          = link_to "#" do
            .app-img
              = image_tag "welcome.jpg"
            .app-body
              .app-body-name
                test
              .app-body-details
                %ul
                  %li 
                    test2
                  %li
                    %i.fa.fa-star.icon
                    %before
                      0
        .app-list
          = link_to "#" do
            .app-img
              = image_tag "welcome.jpg"
            .app-body
              .app-body-name
                test
              .app-body-details
                %ul
                  %li 
                    test2
                  %li
                    %i.fa.fa-star.icon
                    %before
                      0
        .app-list
          = link_to "#" do
            .app-img
              = image_tag "welcome.jpg"
            .app-body
              .app-body-name
                test
              .app-body-details
                %ul
                  %li 
                    test2
                  %li
                    %i.fa.fa-star.icon
                    %before
                      0


%div
  - @apps.each do |a|
    %p ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    = link_to "詳細ページ", app_post_path(a.id), local: true
    %div
    %h4 SANITIZE
    = a.name
    %h3 投稿内容
    = markdown(a.detail)
