= render 'layouts/header'

.main
  .main__show
    .content__leftqq
    .content__right
      .top-content
        .item-box
          .item-box__body
            = image_tag "welcome.jpg",id: "main-image"
            .img__plural
              = image_tag "welcome.jpg", class: "sub-image active",id: 1
              = image_tag "welcome.jpg", class:"sub-image", id: 2
              -# - image_count = 1
              -# - if @images[1]&.image == nil
              -#   - image_count = 0
              -# - @images.each do |i|
              -#   - if image_count != 0
              -#     - if image_count == 1
              -#       = image_tag "#{i.image}",class: "sub-image active",id: image_count
              -#       - image_count += 1
              -#     - else
              -#       = image_tag "#{i.image}",class: "sub-image",id: image_count
              -#       - image_count += 1
          .item-box__price
          .table
            %ul.tabnav-a
              %li
                %a{:href => "#tab01"} アプリ概要
              %li
                %a{:href => "#tab02"} コメント
            .tabcontent-a
              //概要
              #tab01
                %table
                  %tbody
                    %tr
                      %th
                        作成者
                      %td
                        テスト太郎
                    %tr
                      %th
                        アプリ名
                      %td
                        = @post.name
                    %tr
                      %th
                        開発環境
                      %td
                        = @post.dev_environment
                    %tr
                      %th
                        使用言語
                      %td
                        = @post.using_language
                    %tr
                      %th
                        ライブラリ
                        %br
                        フレームワーク
                      %td
                        = @post.using_lib_fram
                    %tr
                      %th
                        その他
                      %td
                        = @post.using_other
                    %tr
                      %th
                        機能説明
                      %td
                        = markdown(@post.detail)
                    %tr
                      %th
                        作成期間
                      %td
                        = @post.dev_period
                    %tr
                      %th
                        作成経緯
                      %td
                        = @post.background
              #tab02
                .message-content
                  .message-box
                    .upper-message
                      .user-name
                        テスト太郎
                      .date-time
                        2020年6月13日 10時10分
                    .lower-message
                      .message-text
                        〇〇部分を以下のようにしたら、利便性がよくなりそうですね！
                        〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜〜
                .message-form
                  .new-message
                    .input-box
                      %input{:type => "text",:class => "text"}
                      = submit_tag '送信', class: 'send-btn'
          .optional-area
            %ul
              %li.optional-btn.like-btn
                %i.fa.fa-star
                お気に入り ０
            .optional
              .optional-btn
                =link_to "#" do
                  %i.fa.fa-flag
                  不適切なアプリの通報
          .buy-btn-contener
            = link_to "#", method: :delete,class:"no-underline" do
              %button.delete-btn{type: "submit"}
                削除する
            = link_to "#",class:"no-underline" do
              %button.edit-btn{type: "submit"}
                編集する

= render 'layouts/footer'







-# %h1 アプリ詳細ページ
-# - if current_user.id == @post.user_id 
-#   = link_to "編集ページ", edit_app_post_path(@post.id), local: true
-#   = link_to "削除", app_post_path(@post.id), local: true, method: :delete, data: { confirm: '削除してよろしいですか？' }
-# = link_to "topページ", root_path
-# %p アプリ名
-# = @post.name
-# %p 開発環境
-# = @post.dev_environment
-# %p 言語
-# = @post.using_language
-# - if @post.using_lib_fram.present? && @post.using_other.present?
-#   %p ライブラリ・フレームワーク
-#   = @post.using_lib_fram
-#   %p その他
-#   = @post.using_other
-# - if @post.dev_period.present?
-#   %p 作成期間
-#   = @post.dev_period
-# - if @post.background.present?
-#   %p 背景
-#   = @post.background
-# %p 詳細
-# = markdown(@post.detail)
-# %div
-#   = link_to "topページ", root_path