.main{ data: { appPost: { id: @post.id } } }
  .main__show
    .content__left
    .content__right
      .top-content
        .item-box
          .item-box__body
            = image_tag "welcome.jpg",id: "main-image"
            .img__plural
              = image_tag "welcome.jpg", class: "sub-image active",id: 1
              = image_tag "welcome.jpg", class:"sub-image", id: 2
          .item-box__price
          .table
            %ul.tabnav-a
              %li
                %a{:href => "#tab01"} アプリ概要
              %li
                %a{:href => "#tab02"} コメント
            .tabcontent-a
              //概要
              #tab01
                %table
                  %tbody
                    %tr
                      %th
                        作成者
                      %td
                        = @post_user.name
                    %tr
                      %th
                        アプリ名
                      %td
                        = @post.name
                    %tr
                      %th
                        開発環境
                      %td
                        = @post.dev_environment
                    %tr
                      %th
                        使用言語
                      %td
                        = @post.using_language
                    %tr
                      %th
                        ライブラリ
                        %br
                        フレームワーク
                      %td
                        = @post.using_lib_fram
                    %tr
                      %th
                        その他
                      %td
                        = @post.using_other
                    %tr
                      %th
                        作成期間
                      %td
                        = @post.dev_period
                    %tr
                      %th
                        作成経緯
                      %td
                        = @post.background
                    %tr
                      %th
                        機能説明
                      %td
                        = markdown(@post.detail)
              #tab02
                #commentAreaVue
              = javascript_pack_tag 'comment.js'
          .optional-area
            %ul
              %li.optional-btn.like-btn
                %i.fa.fa-star
                お気に入り ０
            .optional
              .optional-btn
                =link_to "#" do
                  %i.fa.fa-flag
                  不適切なアプリの通報
          .buy-btn-contener
            = link_to "#", method: :delete,class:"no-underline" do
              %button.delete-btn{type: "submit"}
                削除する
            = link_to "#",class:"no-underline" do
              %button.edit-btn{type: "submit"}
                編集する
