// フッター
.footer
  %ul.contents
    %li.content
      %h2.content__head appfeedについて
      %ul
        %li
          = link_to "appfeedとは？"
    %li.content
      %h2.content__head appfeedを見る
      %ul
        %li
          = link_to "カテゴリー一覧"
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul
        %li
          = link_to "appfeedガイド"
        %li
          = link_to "お知らせ"
        %li
          = link_to "お問い合わせ"
  -# .footer__logo
    -# =link_to "#" do
    -#   = image_tag "logo/logo-white.png"
  %p © appfeed